body {
  background-color: rgb(235, 231, 231);
}

.number {
  position: relative;
  right: 10px;
  float: right;
  /* background-color: red; */
  font-weight: 700;
  font-size: 10px;
  color: rgb(255, 0, 0);
}
.hedingofoption {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(17, 14, 29);
}
